<h1>Available Diamonds</h1>

<script type="javascript">
    // $(function() {
    //    $("#diamond-table") .dataTable();
    // });
    
</script>

<table id="diamond-table" class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Price</th>
      <th>Updated</th>
      <th>Carat</th>
      <th>Color</th>
      <th>Clarity</th>
      <th>Cut</th>
      <th>HCA</th>
      <th>AGA</th>
      <th>Ship time</th>
    </tr>
  </thead>
  
  <tbody>
    <% @available.each do |diamond| %>
      <% if diamond.favorite == true %>
        <tr class="success"%>>
      <% else %>
        <tr>
      <% end %>
        <td>
          <%= link_to diamond.bn_number, diamond %> 
          <a href="http://www.bluenile.com/_<%= diamond.bn_number %>" target="_blank"><i class="icon-globe" alt="View on bluenile.com"></i></a> 
          <%= link_to edit_diamond_path(diamond) do %><i class="icon-edit"></i><% end %> 
          <%= link_to diamond, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="icon-trash"></i><% end %>  
        </td>
        <% if diamond.current_price %>
        <td><span><%= number_to_currency(diamond.current_price.price) %></span></td>
        <td><%= time_ago_in_words(diamond.current_price.created_at) %> ago</td>
        <% else %>
        <td>(null)</td>
        <td>(null)</td>
        <% end %></td>
    
        <td><%= diamond.carat_weight %></td>
        <td><%= diamond.color %></td>
        <td><%= diamond.clarity %></td>
        <td><%= diamond.cut_grade %></td>
        
        <% if diamond.hca_score %>
          <td>
            <span class="<%= 'success' unless 2 < diamond.hca_score.score %>"><%= diamond.hca_score.score %></span>
          </td>
          
        <% else %>
          <td>Processing...</td>
        <% end %>
        <% if diamond.aja_score %>
          <td>
            <span class="<%= 'success' unless "1A" == diamond.aja_score.total_grade %>"><%= diamond.aja_score.total_grade %></span>
          </td>
          
        <% else %>
          <td>Processing...</td>
        <% end %>
        <td><%= diamond.ship_time %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br />

<%= link_to 'New Diamond', new_diamond_path %>

<br />
<h2>Archived Diamonds</h2>
<table id="diamond-table" class="table">
  <tr>
    <th>ID</th>
    <th>Price</th>
    <th>Updated</th>
    <th>Carat</th>
    <th>Color</th>
    <th>Clarity</th>
    <th>Cut</th>
    <th>HCA</th>
    <th>AGA</th>
    <th>Ship time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @archived.each do |diamond| %>
  <% if diamond.favorite == true %>
    <tr class="success"%>>
  <% else %>
    <tr>
  <% end %>
  
    <td><%= link_to diamond.bn_number, diamond %> <a href="http://www.bluenile.com/_<%= diamond.bn_number %>" target="_blank"><i class="icon-globe" alt="View on bluenile.com"></i></a></td>
    <% if diamond.current_price %>
    <td><span><%= number_to_currency(diamond.current_price.price) %></span></td>
    <td><%= time_ago_in_words(diamond.current_price.created_at) %> ago</td>
    <% else %>
    <td>(null)</td>
    <td>(null)</td>
    <% end %></td>

    <td><%= diamond.carat_weight %></td>
    <td><%= diamond.color %></td>
    <td><%= diamond.clarity %></td>
    <td><%= diamond.cut_grade %></td>
    <% if diamond.hca_score %>
      <td>
        <span class="<%= 'success' unless 2 < diamond.hca_score.score %>"><%= diamond.hca_score.score %></span>
      </td>
      
    <% else %>
      <td>Processing...</td>
    <% end %>
    <% if diamond.aja_score %>
      <td>
        <span class="<%= 'success' unless "1A" == diamond.aja_score.total_grade %>"><%= diamond.aja_score.total_grade %></span>
      </td>
      
    <% else %>
      <td>Processing...</td>
    <% end %>
    <td><%= diamond.ship_time %></td>
    <td><%= link_to tag("i", :class => "icon-edit", :alt => "Edit"), edit_diamond_path(diamond) %></td>
    <td><%= link_to tag("i", :class => "icon-trash", :alt => "Delete"), diamond, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>