<p id="notice"><%= notice %></p>

<p>
  <b>Bn number:</b>
  <%= @diamond.bn_number %>
</p>

<p>
  <b>Gia number:</b>
  <%= @diamond.gia_number %>
</p>

<p>
  <b>Carat weight:</b>
  <%= @diamond.carat_weight %>
</p>

<p>
  <b>Current Price:</b>
  <% if @diamond.current_price %>
    <%= number_to_currency(@diamond.current_price.price) %>
  <% else %>
    (null)
  <% end %>
  
</p>

<p>
  <b>Pricing History:</b>
  <ul>
    <% @diamond.price_snapshots.each do |snapshot| %>
    <li><%= number_to_currency(snapshot.price) %> - <%= snapshot.created_at.to_s(:basic_date_time) %> - <%= link_to 'Destroy', snapshot, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
  </ul>

<p>
  <b>Color:</b>
  <%= @diamond.color %>
</p>

<p>
  <b>Clarity:</b>
  <%= @diamond.clarity %>
</p>

<p>
  <b>Cut grade:</b>
  <%= @diamond.cut_grade %>
</p>

<p>
  <b>Height mm:</b>
  <%= @diamond.height_mm %>
</p>

<p>
  <b>Diameter max:</b>
  <%= @diamond.diameter_max %>
</p>

<p>
  <b>Diameter min:</b>
  <%= @diamond.diameter_min %>
</p>

<p>
  <b>Table size:</b>
  <%= @diamond.table_size %>
</p>

<p>
  <b>Total depth:</b>
  <%= @diamond.total_depth %>
</p>

<p>
  <b>Crown angle:</b>
  <%= @diamond.crown_angle %>
</p>

<p>
  <b>Crown height:</b>
  <%= @diamond.crown_height %>
</p>

<p>
  <b>Pavillion angle:</b>
  <%= @diamond.pavillion_angle %>
</p>

<p>
  <b>Pavillion depth:</b>
  <%= @diamond.pavillion_depth %>
</p>

<p>
  <b>Star length:</b>
  <%= @diamond.star_length %>
</p>

<p>
  <b>Lower half length:</b>
  <%= @diamond.lower_half_length %>
</p>

<p>
  <b>Girdle min:</b>
  <%= @diamond.girdle_min %>
</p>

<p>
  <b>Girdle max:</b>
  <%= @diamond.girdle_max %>
</p>

<p>
  <b>Cutlet size:</b>
  <%= @diamond.cutlet_size %>
</p>

<p>
  <b>Polish:</b>
  <%= @diamond.polish %>
</p>

<p>
  <b>Symmetry:</b>
  <%= @diamond.symmetry %>
</p>

<p>
  <b>Flourescence:</b>
  <%= @diamond.flourescence %>
</p>

<p>
  <b>Hca score:</b>
  <%= @diamond.hca_score %>
</p>

<p>
  <b>Aga naja grade:</b>
  <%= @diamond.aga_naja_grade %>
</p>

<p>
  <b>Ship time:</b>
  <%= @diamond.ship_time %>
</p>


<%= link_to 'Edit', edit_diamond_path(@diamond) %> |
<%= link_to 'Back', diamonds_path %>
