<p id="notice"><%= notice %></p>

<p>
  <b>Diamond:</b>
  <%= @aja_score.diamond %>
</p>

<p>
  <b>Tab percent:</b>
  <%= @aja_score.tab_percent %>
</p>

<p>
  <b>Crown angle:</b>
  <%= @aja_score.crown_angle %>
</p>

<p>
  <b>Crown height:</b>
  <%= @aja_score.crown_height %>
</p>

<p>
  <b>Pavilion depth:</b>
  <%= @aja_score.pavilion_depth %>
</p>

<p>
  <b>Girdle:</b>
  <%= @aja_score.girdle %>
</p>

<p>
  <b>Depth:</b>
  <%= @aja_score.depth %>
</p>

<p>
  <b>Polish:</b>
  <%= @aja_score.polish %>
</p>

<p>
  <b>Symmetry:</b>
  <%= @aja_score.symmetry %>
</p>

<p>
  <b>Total grade:</b>
  <%= @aja_score.total_grade %>
</p>


<%= link_to 'Edit', edit_aja_score_path(@aja_score) %> |
<%= link_to 'Back', aja_scores_path %>
